@import "../../../global.scss";
.cart-icon {
  width: 45px;
  height: 45px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  .icon {
    width: 24px;
    height: 24px;
  }

  .count {
    position: absolute;
    font-size: 12px;
    font-weight: bold;
    top: -6px;
    background-color: $primary;
    color: white;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
}
