.shop-category-preview {
  // margin: 20px auto;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // align-self: center;
  .category-list {
    display: flex;
    flex-wrap: wrap;
    margin: 10px auto;
  }
}
